.day-div {
    background-color: burlywood;
    display: flex;
    width: calc(40.2rem / 7);
    height: calc(27.7rem / 6);
    justify-content: center;
    align-items: center;
}

.notCurrent {
    background: rgb(199, 155, 98);
}

.day-div:not(.notCurrent):hover {
    opacity: 0.6;
    cursor: pointer;
}

.day-div-events {
    background-color: burlywood;
    display: flex;
    width: calc(40.2rem / 7);
    height: calc(27.7rem / 6);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-decoration: underline;
}